*{margin:0;padding:0}
body{background-color:#CFCFCD;}
/*#wrapper{width:960px;margin:20px auto;}*/
#header{background-color:orange;
		padding:12px;
		/*border-bottom:5px solid #447932*/
}
#header h2{font-family:cooper;
			color:#1B3251
}
#header p{font-weight:bold;
		color:#1D250C;font-family:arial;font-style:italic
}
.mair_wrap{width:100%}
.wrap{width:960px;margin:0 auto;display:block}
.header_bg{background:orange;border-bottom:5px solid #447932}
#nav{background-color:#CFCFCD;height:38px;/*border-bottom:5px solid #447932*/}
.nav_bg{border-bottom:5px solid #447932}
#nav ul{background-color:#CFCFCD;list-style-type:none;z-index:9999
}
#nav ul li{float:left;border-right:1px solid #447932;position:relative }
#nav ul li:last-child{
border:none}
#nav ul li a{
	text-decoration:none;
	color:#447932;
	/*display:block;*/
	padding:10px 25px;
	-wabkit-transition:all 0.3s ease;transition:all 0.3s ease;
}
#nav ul li a:hover{background-color:#6A9685;color:white}
#nav ul li a:active{background-color:#23342B}
#nav ul li{position:relative}
#nav ul li ul{position:absolute;left:-999999px}
#nav ul li:hover ul{left:0}
#nav ul li ul li{float:none;border-right:none;border-bottom:1px solid #447932;width:150px}
#nav ul li ul li:first-child{border-top:1px solid #447932}
#nav ul li ul li{position:relative}
#nav ul li ul li ul{position:absolute;top:-999999px}
#nav ul li ul li:hover ul{top:0;left:150px}
#slider img{width:960px;vertical-align:middle}
#content-wrapper{background-color:#CFCFCD;/*border-top:5px solid #447932;*/padding:10px;overflow:hidden}
#content{width:630px;margin-right:30px;float:left; text-align:justify}
#content h2{font-weight:bold;color:#1B3251;margin-bottom:10px}
#content h2:hover {text-decoration:underline}
#content h3{font-weight:bold;color:#1B3251;margin-bottom:10px}
#content:hover h3{text-decoration:underline}
#content p{margin:15px 0px}
#content figure{width:420px;background:#373838;padding:10px;margin:0 auto;display:block}
#content img{width:400px;/*margin:0 auto;display:block*/}
blockquote{background:#ddd;margin-left:50px;padding-left:30px;padding-right:10px;padding-top:2px;padding-bottom:2px;border-left:2px solid orange;}
#sidebar{width:280px;float:left}
#sidebar h3 a{color:#1B3251;text-decoration:none;display:block;overflow:hidden;margin-left:0}
/*
#sidebar h3 a{position:relative;background:red}
#sidebar h3 a:before{position:absolute;background-color:green;width:}*/



#sidebar:hover h3{text-decoration:underline;}
#sidebar ul{
			list-style-type:square}
#sidebar ul li a{text-decoration:none;color:#383E4B;font-size:bold;display:block;padding:3px}
#footer{background-color:#4F4F4F;padding:10px;text-align:center}
.footer_bg{background-color:#4F4F4F}
blockquote{background:#ddd}
/*#main_article_single{
	margin-bottom:25px;
	border-bottom: 1px solid #635548;
	overflow:hidden;
	
}*/
#imgp_wrap img{width:75px;height:75px;background:#ddd;border:1px solid #fff;padding:3px;float:left;margin-right:10px}
#imgp_wrap p{float:left;width:500px;margin-top:0}
#imgp_wrap{margin-top:0}
#main_sidebar{border-bottom:1px solid #447932;margin-bottom:25px;padding-bottom:5px}
/*.video{margin-left:100px;background:#373838;padding:10px}*/
.button{display:}
.content{
padding:10px 10px;
position:relative;
z-index:5;
overflow:hidden;
display:inline-block;

}
.content:hover{color:white;/*text-decoration-color:white*/}

.content:before{content:"";
position:absolute;
width:50%;
height:100%;

background:linear-gradient(to bottom,red,blue,green);
left:-50%;
transition:all 0.3s ease;
z-index:-5;
top:0
}
.button:hover .content:before{
left:0;}
.content:after{content:"";
position:absolute;
width:50%;
height:100%;
background:linear-gradient(to bottom,red,blue,green);
right:-50%;
transition:all 0.3s ease;
z-index:-5;
top:0
}
.button:hover .content:after{
right:0;}

